{% extends 'dictionary/base.html' %}
{% load static %}

{% block search_bar %}
    <div class="flex-fill container-fluid bg-primary pt-1 pb-1">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <form class="form-inline d-flex flex-nowrap" id="search-form" method="post">
                    <div class="button-group dropdowni mr-1">
                        <button type="button" class="btn btn-light dropdown-toggle" id="dropdownSearchType"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Starts with
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownSearchType">
                            <button class="dropdown-item search-type" type="button" id="st-cont">Contains</button>
                            <button class="dropdown-item search-type" type="button" id="st-staw">Start with</button>
                            <button class="dropdown-item search-type" type="button" id="st-endw">Ends with</button>
                            <button class="dropdown-item search-type" type="button" id="st-equa">Equals</button>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="input-group flex-fill">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search"
                               id="search">
                        <div class="input-group-append">
                            <button class="input-group-text btn" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 py-2">
                <div class="d-flex justify-content-between">
                    <div class="text-white font-weight-bold text-right" id="count"></div>
                    <div class="text-white font-weight-bold text-right" id="search-term">{{ search }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock search_bar %}

{% block welcome %}
    <div class="modal fade def-modal" tabindex="-1" id="welcome" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="definition-modal">
                <div class="modal-header modal-header-primary">
                    <h3 class="modal-title" id="defModalLabel">Japanese Database (JD)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h4>Welecome!</h4>
                    <p>
                        This is a Japanese <=> English dictionary using JMDict as the dictionary file.
                        JD is meant to be a quick and responsive dictionary that works well on small screens
                        such as smart-phones as well as larger screens such as tablets and computers.
                    </p>
                    <p>
                        To look up a word just start typing in English or Japanese. *Romaji is not yet supported.
                    </p>
                    <p>
                        JD is a work in progress, so some features are not available yet.
                        For a list of planned features or if you would like to help develop the project,
                        please visit the project's <a href="https://github.com/exomut/japanese_database">github page</a>.
                    </p>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock welcome %}

{% block popup %}
    <div class="modal fade def-modal" id="defModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="definition-modal">
                <div class="modal-header modal-header-primary">
                    <h3 class="modal-title" id="defModalLabel">Definition</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="container-fluid mt-3 modal-body">
                    <div class="row">
                        <div class="col-md d-flex align-self-stretch flex-wrap">
                            <div class="card border-primary mb-3 w-100" id="kanjiCard">
                                <div class="card-header">Kanji</div>
                                <div class="card-body" id="defModalKanji"></div>
                                <div class="card-footer" id="kanjiCardLoading">
                                    <div class="spinner-grow text-primary" role="status"></div>
                                </div>
                            </div>
                            <div class="card border-primary mb-3 w-100">
                                <div class="card-header">Readings</div>
                                <div class="card-body" id="defModalReading"></div>
                                <div class="card-footer" id="readingCardLoading">
                                    <div class="spinner-grow text-primary" role="status"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex align-self-stretch flex-wrap">
                            <div class="card border-primary mb-3 w-100">
                                <div class="card-header">Translations</div>
                                <div class="card-body" id="defModalTranslation"></div>
                                <div class="card-footer" id="transCardLoading">
                                    <div class="spinner-grow text-primary" role="status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="examplesCard">
                        <div class="col">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Examples</div>
                                <div class="card-body" id="defModalExamples"></div>
                                <div class="card-footer" id="examCardLoading">
                                    <div class="spinner-grow text-primary" role="status"></div>
                                </div>
                            </div>
                        </div>

                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock popup %}

{% block results %}
    <div class="container-fluid overflow-auto main h-100 py-3" id="main">
        <div class="list-group entries" id="results">
        </div>
    </div>
{% endblock results %}

{% block javascript %}
    <script src="{% static 'dictionary/tool_kit.js' %}"></script>
    <script src="{% static 'dictionary/templates.js' %}"></script>
    <script src="{% static 'dictionary/ajax_handler.js' %}"></script>
{% endblock javascript %}
