{% extends 'dictionary/base.html' %}
{% load static %}

{% block search_bar %}
    <div class="flex-fill container-fluid bg-primary pt-1 pb-1">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <form class="form-inline d-flex flex-nowrap" id="search-form" method="post">
                    <div class="button-group dropdowni mr-1">
                        <button type="button" class="btn btn-light dropdown-toggle" id="dropdownSearchType"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Starts with
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownSearchType">
                            <button class="dropdown-item search-type" type="button" id="st-cont">Contains</button>
                            <button class="dropdown-item search-type" type="button" id="st-staw">Start with</button>
                            <button class="dropdown-item search-type" type="button" id="st-endw">Ends with</button>
                            <button class="dropdown-item search-type" type="button" id="st-equa">Equals</button>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="input-group flex-fill">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search"
                               id="search">
                        <div class="input-group-append">
                            <button class="input-group-text btn" type="submit">
                                <div class="fa fa-search"></div></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 py-2">
                <div class="d-flex justify-content-between">
                    <div class="text-white font-weight-bold text-right" id="count"></div>
                    <div class="text-white font-weight-bold text-right" id="search-term">{{ search }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock search_bar %}

{% block popup %}
    <div class="modal fade def-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="definition-modal">
                <div class="modal-header modal-header-primary">
                    <h3 class="modal-title" id="defModalLabel">Definition</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-md">
                            <div class="card border-primary mb-3" id="kanjiCard">
                                <div class="card-header">Kanji</div>
                                <div class="card-body" id="defModalKanji"></div>
                                <div class="card-footer" id="kanjiCardLoading"><div class="spinner-grow text-primary" role="status"></div></div>
                            </div>
                            <div class="card border-primary mb-3">
                                <div class="card-header">Readings</div>
                                <div class="card-body" id="defModalReading"></div>
                                <div class="card-footer" id="readingCardLoading"><div class="spinner-grow text-primary" role="status"></div></div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Translations</div>
                                <div class="card-body" id="defModalTranslation"></div>
                                <div class="card-footer" id="transCardLoading"><div class="spinner-grow text-primary" role="status"></div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock popup %}

{% block results %}
    <div class="container-fluid overflow-auto main h-100 py-3" id="main">
        <div class="list-group entries" id="results">
        </div>
    </div>
{% endblock results %}

{% block javascript %}
    <script src="{% static 'dictionary/templates.js' %}"></script>
    <script src="{% static 'dictionary/ajax_handler.js' %}"></script>
{% endblock javascript %}
